.wrapper {
  display: grid;
  place-items: center;
  width: 100vw;
  height: 100vh;
}

.board {
  list-style: none;
  padding: 0;
  margin: 0;
}

.board > li:not(:last-child) {
  margin-bottom: 10px;
}
